---
import { branding } from '../lib/constants';

export interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/alinks-logo-sm.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <meta name="author" content={branding.author.handle} />
    <meta name="copyright" content={branding.author.name} />
    <meta name="description" content={branding.tagline} />
    <meta name="keywords" content={branding.keywords.join(',')} />

    <meta
      name="og:url"
      content={branding.url}
    />
    <meta name="og:title" content={title} />
    <meta name="og:description" content={branding.tagline} />
    <meta name="og:image" content={'/alinks-og.png'} />
    <meta name="og:type" content={'website'} />

    <meta name="twitter:card" content={'summary'} />
    <meta name="twitter:creator" content={branding.author.handle} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={branding.tagline} />
    <meta name="twitter:domain" content={branding.url} />
    <meta name="twitter:image" content={'/alinks-og.png'} />

    <!-- Panelbear -->
    <script async src={`https://cdn.panelbear.com/analytics.js?site=${import.meta.env.PUBLIC_PANELBEAR_SITE_ID}`}></script>
    <script>
        window.panelbear = window.panelbear || function() { (window.panelbear.q = window.panelbear.q || []).push(arguments); };
        panelbear('config', { site: import.meta.env.PUBLIC_PANELBEAR_SITE_ID });
    </script>

  </head>
  <body class="text-base antialiased">
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
